<input name="key" type="text" placeholder="請輸入關鍵字搜尋">
<select name="review" style="margin-left:20px">
    <option value="">--審核狀態--</option>
    <option value="待審核">待審核</option>
    <option value="審核中">審核中</option>
    <option value="待補件">待補件</option>
    <option value="退件">退件</option>
    <option value="審核完成">審核完成</option>
</select>
<button class="btn-add" type="submit">搜尋</button>
