@{
    Layout = "~/Views/Shared/Layout.cshtml";

    int perm = Session["perm"] != null ? (int)Session["perm"] : -1;
    // 1. 無登入-1
    // 2. 管理者0、PM1、工讀生2
    // 3. 業者3
}

<main class="container-wrap">
    <div class="container-main">
        <!-- tool -->
        <div class="tool-wrap">
            <div class="tool-item">
                <label>顯示日期：</label>
                <input type="date" name="name" value="" />
            </div>
            <div class="tool-btn">
                @if (perm >= 0 && perm < 3)
                {
                    <button class="btn-add" onClick="">匯出</button>
                    <button class="btn-add" onClick="history.back()">返回</button>
                }
            </div>
        </div>

        <!-- list -->
        <div class="list-wrap">
            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">業者名稱</div>
                        <div class="f-1">每天申請人數</div>
                        <div class="f-1">飯店的可申請人數</div>
                        <div class="f-1">已申請人數</div>
                        <div class="f-1">為申請人數</div>
                        <div class="f-1 ta-left">帳號</div>
                        <div class="f-1 ta-right mr-6">金額</div>
                    </div>

                    <!-- example start -->
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXX</div>
                        <div class="f-1 ta-right mr-6">$999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>
                    <div class="list-row pr-2 pl-2">
                        <div class="f-1 ta-left ml-6">XXXXXXX</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1">999</div>
                        <div class="f-1 ta-left">XXXXXXA</div>
                        <div class="f-1 ta-right mr-6">$999,999,999</div>
                    </div>


                    <!-- example end -->
                </div>
            </div>
        </div>

        <!-- pages -->
        <div class="pages-wrap">
            <button class="btn-prev"></button>

            <ul>
                <li class="is-active">1</li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
            </ul>

            <button class="btn-next"></button>
        </div>
    </div>
</main>

