@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<main class="container-wrap">
    <div class="container-main">
        <div class="form-wrap">
            <form action="">
                <div class="form-main">
                    <div class="form-title">
                        <h1>管理者帳號詳細資料</h1>
                    </div>

                    <div class="form-content">
                        <div class="form-flex">
                            <div class="form-group">
                                <div class="form-col">
                                    <div class="form-input">
                                        <label for="">姓名</label>
                                        <p>testName</p>
                                    </div>

                                    <div class="form-input">
                                        <label for="">手機</label>
                                        <p>0912345678</p>
                                    </div>

                                    <div class="form-input">
                                        <label for="">Email</label>
                                        <p>aaa@aaa.aaa.tw</p>
                                    </div>

                                    <div class="form-input">
                                        <label for="">職稱</label>
                                        <p>XXX</p>
                                    </div>

                                    <div class="form-input">
                                        <label for="">權限</label>
                                        <p>管理者</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-btn">
                    <button class="btn-cancel" type="button" onclick="history.back()">返回</button>
                </div>
            </form>
        </div>
    </div>
</main>


